/*--- ESTILOS GLOBALES---*/

/*header*/
.header-principal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: var(--beige);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box;
}

/* .header-principal .logo h2 {
    color: var(--azul-oscuro);
    font-family: var(--fuente-titulos);
    margin: 0;
    font-size: 32px;
    /* letter-spacing: 2px; 
} */

.header-principal .logo img {
    max-height: 60px;
    width: auto;
    display: block;
    cursor: pointer;
}


.navigation {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navigation a {
    font-family: var(--fuente-principal);
    font-size: 18px;
    font-weight: bold;
    color: var(--azul-oscuro);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: var(--naranja-oscuro);
}

.navigation a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 4px;
    background-color: var(--naranja-oscuro);
    transition: width 0.3s ease;
}

.navigation a:hover::after {
    width: 100%;
}
body{
    background-color: var(beige-oscuro);
    font-family: var(--fuente-principal);
    color: var(--azul-oscuro);
    margin: 0;
    min-height: 100vh;   
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    background-position: center;
}

/*main{ 
    width: 100%;
    max-width: 600px;
}

/*---Titulos---*/
h2{
  font-family: var(--fuente-titulos); 
  font-size: 4rem;
  color: var(--azul);
  text-align: center;
  margin-bottom:20px;
  font-weight: normal;
  -webkit-text-stroke: 0.5px var(--azul); 
  text-rendering: optimizeLegibility;
  text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
}

fieldset {
        background-color: rgba(255, 255, 255, 0.8);
        border: 2px solid  var(--beige-oscuro);
        border-radius: var(--border-radius);
        padding: 25px;
        margin-bottom: 25px;
        box-shadow: var(--shadow-soft);
}

/*--- Contendedores de preguntas---*/
.forma-grupo{
    margin-bottom: 20px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

label{
    font-weight: bold;
    color: var(--azul);
    margin-bottom: 8px;
    font-size: 0.95rem;
    text-transform: upercase;
    letter-spacing: 1px;
}

/*--- Cajas de texto y fechas ---*/

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="tel"],


select{
    padding: 7px;
    border: 1px solid var(--beige-oscuro);
    border-radius: var(--border-radius);
    font-family: var(--fuente-principal);
    font-size: 1rem;
    color: var(--azul-oscuro);
    background-color: #ffffff;
    transition: all 0.3s ease;
}

input:focus,
select:focus{
    outline: None; 
    border-color: var(--naranja);
    box-shadow: 0 0 8px rgba(255, 177, 98, 0.5);
}

.radio{
    display: flex;
    gap: 30px;
    margin-top: 5px;  
}

.radio label{
    font-weight: normal;
    text-transform: none;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 1rem;
}
/* --- ESTILOS PARA LOS BOTONES + Y - --- */
.contador {
    width: 65%; 
    display: flex;
    align-items: center;
}

.btn-contador {
    width: 100%;
    padding:  16px;
    background-color: var(--naranja);
    color: var(--azul-oscuro);
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-contador:hover {
    background-color: var(--naranja-oscuro);
    color: white;
}

.contador input[type="number"] {
    width: 60px; /* La cajita del número será más pequeña */
    text-align: center; /* Número centrado */
    margin: 0 10px;
    font-weight: bold;
}

/* oculta las flechitas minúsculas por defecto del navegador */
.contador input[type="number"]::-webkit-inner-spin-button, 
.contador input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.forma-grupo label {
    width: 40%; /* Aumentamos un poquito para que quepa bien el texto de adultos/menores */
    min-width: 180px; /* Esto evita que se aplaste en pantallas pequeñas */
    margin-bottom: 0; 
    margin-right: 15px;
    font-weight: bold;
    color: var(--azul);
    font-size: 0.95rem;
}

.contenedor-dos-columnas {
    display: flex;
    justify-content: center;
    gap: 40px; 
    max-width: 1300px; 
    margin: 0 auto; 
    align-items: flex-start; 
}

.columna-formulario {
    flex: 1; 
    max-width: 700px; 
}

.columna-derecha {
    flex: 1; /* Toma el otro 50% del espacio */
    max-width: 400px;
    /* Un pequeño estilo base para la tarjeta promocional */
    background-color: var(--azul);
    color: white;
    padding: 30px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-soft);
    text-align: center;
    letter-spacing: 2.5px;
    word-spacing: normal;
    margin-top: 38px;
    flex-direction: column;
    gap: 25px;    
}

.tarjeta-promocional h3 {
    font-family: var(--fuente-titulos);
    font-size: 3rem;
    margin-bottom: 30px;
}
.tarjeta-promocional p {
    font-size: 1.1rem;
    line-height: 1.5; 
    font-weight: 300;
}

/*--- Cuadrito de contraste---*/

.tarjeta-beneficios {
    background-color: #1a252f; /* Fondo azul medianoche/oscuro */
    border-left: 5px solid var(--naranja); /* Barra lateral para llamar la atención */
    border-radius: var(--border-radius);
    padding: 25px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3); /* Sombra un poco más fuerte */
    margin-top: 20px; /* Separación del cuadro de arriba */
}

.tarjeta-beneficios h4 {
    color: var(--naranja); /* Título en naranja para que resalte en la oscuridad */
    font-family: var(--fuente-principal);
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.lista-beneficios {
    list-style: none; /* Quitamos los puntos negros feos por defecto */
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px; /* Separación entre cada texto */
}

.lista-beneficios li {
    color: #ecf0f1; /* Texto casi blanco, súper fácil de leer */
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Línea divisoria muy transparente */
}

/* Le quitamos la línea al último elemento para que quede limpio */
.lista-beneficios li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

/* MAGIA CSS: Le agregamos un chulito/check naranja a cada línea automáticamente */
.lista-beneficios li::before {
    content: "✓";
    color: var(--naranja);
    font-weight: bold;
    margin-right: 12px;
    font-size: 1.2rem;
}

.oculto {
    display: none !important;
}

/* El cuadro principal de cada pasajero */
.pasajero-bloque {
    margin-bottom: 30px; 
    background-color: rgba(255, 255, 255, 0.8); 
    border: 2px solid var(--beige-oscuro); 
    padding: 25px; 
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-soft);
}

/* Título Azul para Adultos */
.titulo-adulto {
    background-color: var(--azul);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.1rem;
    text-align: center;
}

/* Título Naranja para Menores */
.titulo-menor {
    background-color: var(--naranja);
    color: var(--azul-oscuro);
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.1rem;
    text-align: center;
}

/* Para que el texto largo de la discapacidad no se aplaste */
.label-largo {
    width: 100% !important; 
    text-transform: none; 
    letter-spacing: normal;
    display: flex;
    align-items: center;
    gap: 10px;
}

.bloque-seccion{
    margin-bottom: 30px; 
    background-color: rgba(255, 255, 255, 0.8); 
    border: 2px solid var(--beige-oscuro); 
    padding: 25px; 
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-soft);
}
.btn-volver {
    background: none;
    border: none;
    color: var(--azul);
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: underline;
}































/* arreglar edades, acomodar botones,arreglar el boton de continuar, boton de embarazada, incluir lo de boletos premium, mejorar las opciones de los aeropuertos








